glfw==2.9.0
pillow==10.4.0
PyOpenGL==3.1.10
PyOpenGL-accelerate==3.1.10
ttkbootstrap==1.14.2

# Core EvoGym runtime (required by evogym-design-tool)
evogym==2.0.0
gymnasium==1.2.0
Farama-Notifications==0.0.4
cloudpickle==3.1.1
typing_extensions==4.14.1
numpy==1.26.4
